/* #754FFE */

/* Login */
.login-form {
  width: 100%;
}

.login-form-forgot {
  float: right;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  width: 100%;
}

.login-label {
  font-weight: 600;
}

/* Modal Login */
.login-logo {
  width: 20%;
}
