@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html.dark #root {
  background-color: #0f172a;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f1f5f9;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
